@media screen and (max-width: 320px) {
  html {
    font-size: 32px !important;
  }
}
/* 如果屏幕尺寸超过了750px，则将html的字体限制在750尺寸的字体大小 */
@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #666;
}
img {
  vertical-align: middle;
  border: none;
}
input {
  border: none;
  outline: none;
}

li {
  list-style: none;
}
i {
  font-style: normal;
}
strong {
  font-weight: 400;
}
body {
  margin: 0 auto;
  min-width: 350px;
  width: 10rem;
  line-height: 1.5;
  font-family: arial, helvetica;
  font-size: 0.32rem;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
}
/* 头部 */
#header {
  overflow: hidden;
  position: relative;
  height: 4.08rem;
  background-color: #ff7200;
  text-align: center;
}
.bar {
  width: 95%;
  height: 0.267rem;
}
.avatar {
  position: absolute;
  left: 0.8rem;
  top: 1.907rem;
  width: 1.307rem;
  height: 1.307rem;
  border-radius: 50%;
}
.avatar img {
  width: 100%;
  border-radius: 50%;
}
#header p {
  position: absolute;
  left: 2.52rem;
  top: 2.16rem;
  font-size: 0.48rem;
  color: #fff;
}
.logo {
  position: absolute;
  left: 0.92rem;
  width: 8.547rem;
  height: 4.56rem;
}
/* 中间优惠卷部分 */
.nav {
  height: 2.773rem;
}
.nav img {
  width: 100%;
}
/* 我的专属 */
.mine {
  margin-top: 0.267rem;
}
.mine img {
  width: 100%;
}
/* 咨询 */
.server {
  height: 3.2rem;
  padding: 0 0.267rem;
}
.server ul {
  display: flex;
}
.server li {
  flex: 1;
}
.server li:first-child {
  margin-right: 0.267rem;
}
.server li img {
  width: 100%;
}
/* 底部 */
.footer {
  height: 1.307rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.267rem;
}
.footer a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ccc;
}
.footer a img {
  width: 0.6rem;
  height: 0.6rem;
}
.footer a:first-child p {
  color: #ff7200;
}
