<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table,
      tr,
      td,
      th {
        margin: auto;
        border: 1px solid #ccc;
        border-collapse: collapse;
        font-size: 14px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <my-table :goodlist="goodlist">
        <!-- #6 库存量 颜色设置 -->
        <template slot-scope="scope">
          <div v-if="scope.row.stock_quantity<20" style="background-color: red">{{scope.row.stock_quantity}}</div>
          <div v-else-if="scope.row.stock_quantity<100" style="background-color: orange">{{scope.row.stock_quantity}}</div>
          <div v-else>{{scope.row.stock_quantity}}</div>
        </template>
      </my-table>
    </div>
    <!-- #3 my-table结构 -->
    <template id="myTable">
      <table>
        <thead>
          <tr>
            <th>商品编号</th>
            <th>商品名称</th>
            <th>商品图片</th>
            <th>商品描述</th>
            <th>市场价</th>
            <th>优惠价</th>
            <th>库存数量</th>
            <th>点击量</th>
            <th>上架时间</th>
          </tr>
        </thead>
        <tbody>
          <!-- #4 遍历商品列表 -->
          <tr v-for="item in goodlist" :key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>
              <img :src="item.img_url" alt="未取到" />
            </td>
            <td>{{item.zhaiyao}}</td>
            <td>{{item.market_price}}</td>
            <td>{{item.sell_price}}</td>
            <!-- #5 作⽤域插槽 -->
            <td><slot :row="item">{{item.stock_quantity}}</slot></td>
            <td>{{item.click}}</td>
            <td>{{item.add_time | dateFormat}}</td>
          </tr>
        </tbody>
      </table>
    </template>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue-router/3.4.8/vue-router.js"></script>
    <script>
      // #7 过滤器
      Vue.filter('dateFormat', function (date) {
        const dt = new Date(date)

        const y = dt.getFullYear()
        const m = (dt.getMonth() + 1 + '').padStart(2, '0')
        const d = (dt.getDate() + '').padStart(2, '0')

        return y + '-' + m + '-' + d
      })
      // #2 组件my-table，
      const MyTable = {
        props: ['goodlist'],
        data() {
          return {}
        },
        methods: {},
        template: '#myTable'
      }
      // vue 实例对象
      const vm = new Vue({
        el: '#app',
        data: {
          goodlist: []
        },
        // #1 获取商品列表信息
        created() {
          this.getGoodlist()
        },
        methods: {
          async getGoodlist() {
            const { data: res } = await axios.get('http://www.liulongbin.top:3005/api/getgoods?pageindex=0')
            if (res.status !== 0) return alert('获取商品列表失败')
            this.goodlist = res.message
            console.log(this.goodlist)
          }
        },
        components: {
          MyTable
        }
      })
    </script>
  </body>
</html>
